@import url('https://fonts.cdnfonts.com/css/super-brave');
@import url('https://fonts.cdnfonts.com/css/kg-why-you-gotta-be-so-mean');
@import url('https://fonts.cdnfonts.com/css/spline-sans-mono');

@import "tailwindcss";

@theme {
  --text-sm: 1.75rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-lg: 2.25rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 2.5rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 3rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-6xl: 7.5rem;
  --text-6xl--line-height: 1;
}


body {
  background: linear-gradient(to bottom, #54e6ed, #d4ff4b);
}
.font1 { font-family: 'Super Brave'; }
.font2 { font-family: 'KG WhY yOu GoTtA Be So MeAn', sans-serif; }
.font-link-ig { font-family: 'Spline Sans Mono', sans-serif; }
a {
  color: rgb(145, 145, 160);
  text-decoration: underline;

}

a:hover{
  color: white;
}
