@import url('https://fonts.cdnfonts.com/css/super-brave');
@import url('https://fonts.cdnfonts.com/css/kg-why-you-gotta-be-so-mean');

body {
  background: linear-gradient(to bottom, #54e6ed, #d4ff4b);
}

a {
  text-decoration: underline !important;
}


@import "tailwindcss";


@theme {
  --breakpoint-xs: 400px;
}




.font1 { font-family: 'Super Brave'; }
.font2 { font-family: 'KG WhY yOu GoTtA Be So MeAn', sans-serif; }